html,
body {
  font-family: 'Lato';
  font-size: 11px;
  line-height: 1.0em;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: 'Lato';
  font-size: 18px;
  line-height: 30px;
  color: black;
}

#fp-nav {
  top: 40%;
}

#fp-nav ul li a span {
  background: #E30613;
}
.fp-viewing-zeroPage #fp-nav ul li a span {
  background:none;
}

.fp-viewing-secondPage #fp-nav ul li a span,
.fp-viewing-forthPage #fp-nav ul li a span,
.fp-viewing-sixPage #fp-nav ul li a span,
.fp-viewing-eightPage #fp-nav ul li a span, 
.fp-viewing-ninthPage #fp-nav ul li a span {
  background: #ffffff;
}

.jumbo_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.headimage {
  height: 300px;
  width: 300px;
  background-image: url("../images/ico1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-x;
}

.jumbo_content h2 {
  font-family: 'Lato';
  font-size: 60px;
  font-family: 'Lato';
  font-weight: 900;
  color: white;
}

.jumbo_content h2,
.jumbo_content p {
  color: white;
  font-size: 16px;
  line-height: 25px;
}



.headimage {
  height: 250px;
  width: 250px;
  background-image: url("../images/ico1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-x;
}



.box {
  margin: 20px 40px;
  padding: 0;
}

.first {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.second,
.third,
.forth {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* .fp-bg{
    background-size: cover;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera
      backface-visibility: hidden;} 
    */
/* 
#section2 .fp-bg,
#section4,
#section5,
#section9,
#section11 {
  background: url("../images/bgdots.png") no-repeat center center;
  background-color: #E30613;
  background-size: cover;

} */

/* #section2 .fp-bg:before{
    content: '';
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
  } */




.first .textbox {
  width: 50%;
  margin-left: 150px;
  margin-right: auto;
  padding-right: 40px;
  text-align: left;
  align-content: center;
}

.second .textbox {
  text-align: left;
  width: 50%;
  margin-left: 150px;
  margin-right: auto;
  padding-right: 40px;
  align-self: center;
}

.third .textbox {
  text-align: left;
  width: 70%;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 40px;
  align-self: center;
}

.fifth .textbox {
  text-align: left;
  width: 70%;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 40px;
  align-self: center;
}

.seventh .textbox {
  text-align: left;
  width: 70%;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 40px;
  align-self: center;
}


.bigresponsive {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.responsive {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.logoresponsive {
  width: 100%;
  max-width: 150px;
  height: auto;
}



.textbox span {
  font-size: 24px;
  font-weight: 600;
}

/*mouse scroll*/


.mouse {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -100px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.shadowbox {
  border-radius: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* .first .imagebox {
    transform: translateZ(.25px) scale(.75) translateX(17.1%) translateY(9%);
    /* transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%);} */

html {
  overflow: hidden;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* 
  .fp-viewing-2{
    opacity: 0.0;
    -webkit-animation-duration: 1s;
    animation-duratsion: 1s;
    }
    
    .fp-viewing-2.animated {
    opacity: 1;
    } */



#section9 {
  position: relative;
  margin-top: -1px;
}

#section9 .boxfooter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}

.bottomfooter {
  width:100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottombox {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.boticons {
  width:100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#section9 h1 {
  font-size: 55px;
}

.bottombox {
  color: white;
}

.footlogo {
  width:50px;
  height:auto;
}




h1 {
  font-size: 35px;
  font-family: 'Lato';
}






/* animacja typowriter */
/* efekt pisania css, animacja*/

.typewriter {
  display: inline-block;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #E30613;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin-right: auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .02em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-delay: 1s;
}


.typewriter h2 {

  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #E30613;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin-right: auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .02em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-delay: 1s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #E30613;
  }
}

.typewriter h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .11em solid #E30613;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin-right: auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em;
  /* Adjust as needed */
  animation:
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #E30613;
  }
}

.typewriter h2 {
  padding-right: 10px;
}

/*koniec animacja*/

/* #section5 .fp-bg{
  background-image: url('./images/bgdots.png');
  background-size: cover;
  background-position: center 80%;
} */



/* media queries*/

@media screen and (min-width: 900px) {
.box {
  margin: 20px 40px;
  padding: 0;
}
.typewriter h1, h1 {
  font-size:20px;
}

p {
  font-size:12px;

}
}

@media screen and (max-width: 600px) {
  .box {
    margin: 10px 10px;
    padding: 0;
  }
 #section1 .typewriter h1, h1 {
    font-size:25px;
  }

  p {
    font-size:11px;

  }
}